@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'poppins';
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.contenedor {
  padding: 20px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    z-index: 1000;
  
    background-color: rgb(149, 0, 0);
    color: azure;
   
}
a{
     color: rgb(0, 0, 0);
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right; /* Alinea los elementos a la derecha */
    
}

nav ul li {
    display: inline;
    margin-left: 20px; /* Ajusta el margen izquierdo para todos los elementos, incluido el último */
    
}

nav ul li:last-child a {
    margin-right: 40px; /* Aplica margen derecho solo al enlace del último elemento */
}

.imagen{
    width: 20px;
    height: 20px;


    
}
/*Carousel*/

.carousel{
    padding: 65px;
}
.carousel-inner{
    max-width: 500px;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
    position: center;
    align-items: center;
    text-align: center;

}
.carousel-item{
    width: 500px;
    height: 500px;
}

/*Formulario*/
.formulario{
    padding: 130px;
}
/*mapa*/
.mapa{
    height: 50px;
    width: 50px;
}

/*Cards*/


.carro{
    border: 2px solid;
    float: left;
    height: 440px;
    width: 336.5,6 x;
    padding: 66.6px;
}

#carros-img{
    float: center;
  
    height: 200px;
    width: 200px;
  
}
button{
    font-family: 'poppins';
    font-size: 20px;
    color: rgb(149, 0, 0);
   
}

/*Encabezado #2*/
#h_2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    z-index: 1000;
  
    background-color: rgb(149, 0, 0);
    color: azure;
}
